@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #372e05,
    #473d15,
    #584d24,
    #6a5e33,
    #7c6f42
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
  color: #ebd37f;
}

.box {
  background-color: #76dacc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.6s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

div img {
  width: 17rem;
}
